@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=Outfit:wght@100..900&display=swap');

html,
body,
#root {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Italiana', Courier, monospace;
    position: fixed;
    margin-left: 1.5rem;
    text-align: left;
    z-index: 1;
    color: #fff;
    opacity: 0.5;
}

p {
    font-family: 'Italiana', Courier, monospace;
    position: fixed;
    margin-left: 1.5rem;
    margin-top: 6.5rem;
    text-align: left;
    z-index: 1;
    color: #fff;
    opacity: 0.5;
}